
/.gradle
/build
/out
/.idea/*

/buildSrc/.gradle
/buildSrc/build
/buildSrc/out

/annotated/.gradle
/annotated/build
/annotated/out

/runtime/.gradle
/runtime/build
/runtime/out

/compiler/.gradle
/compiler/build
/compiler/out

/tests/resources/ExpressionTreesTest/generated
/tests/resources/ParseCompilationUnitTest/generated
/tests/resources/ParseExpressionTest/generated
/tests/resources/PreprocessorTest/generated
/tests/resources/QueryTranslatorTest/generated

/annotated/stabal.jar
/bin/tests.jar
/compiler/stabc.jar
/runtime/stabrt.jar
/tests/tests.jar

/runtime/doc.xml

/eclipse/*.jar

*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
