
/.gradle
/build
/out
/.idea/*

/buildSrc/.gradle
/buildSrc/build
/buildSrc/out

/annotated/.gradle
/annotated/build
/annotated/out

/runtime/.gradle
/runtime/build
/runtime/out

/compiler/.gradle
/compiler/build
/compiler/out

/src/test/resources/ExpressionTreesTest/generated
/src/test/resources/ParseCompilationUnitTest/generated
/src/test/resources/ParseExpressionTest/generated
/src/test/resources/PreprocessorTest/generated
/src/test/resources/QueryTranslatorTest/generated
/src/test/resources/TypeSystemTest/generated
/src/test/resources/StatementsTest/generated
/src/test/resources/ObjectModelTest/generated
/src/test/resources/LibraryTest/generated
/src/test/resources/IntegrationTest/generated
/src/test/resources/ExpressionsTest/generated
/src/test/resources/TypeBuilderTest/stab/*.class

/annotated/stabal.jar
/bin/tests.jar
/compiler/stabc.jar
/runtime/stabrt.jar
/tests/tests.jar

/runtime/doc.xml

/eclipse/*.jar

*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
